@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --Red: hsl(4, 100%, 67%);
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--Blue-700);
    margin: 0 auto;
    max-width: 90vw;
    color: var(--Blue-800);
    font-family: "Roboto", serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: var(--White);
    display: flex;
    max-width: 928px;
    border-radius: 30px;
    gap: 24px;
    padding: 24px;
}

.subscribe {
    /*     background-color: aquamarine; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.subscribe p {
    font-size: 1rem;
    margin-bottom: 24px;
}

.descri {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 43px;
}

.descri-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.form-header span {
    font-size: .9rem;
    font-weight: 700;
}

.active {
    color: var(--Red);
}

.mail {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input{
    padding: 19px 23px;
    border: none;
    border: 1px solid var(--Grey);
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.btn {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 19px 23px;
    background-color: var(--Blue-800);
    color: var(--White);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(90deg, hsl(346, 100%, 66%) 0%,  hsl(4, 100%, 67%) 100%);
    box-shadow: hsla(4, 100%, 67%) 0px 13px 27px -5px;
}

.illustration {
    width: 400px;
    height: auto;
    background-color: var(--White);
    background: url('/src/images/illustration-sign-up-desktop.svg') no-repeat center;
    background-size: contain;
}

